ServerIP=192.168.0.5
WEBPASSWORD=piserver
TZ=Europe/London
WEB_PORT=8080

INFLUXDB_DB=energy

INFLUX_DB_NAME=energy
INFLUX_DB_HOST=influxdb
INFLUX_DB_PORT=8086
OCTOPUS_API_KEY=sk_live
ELECTRICITY_MPAN=220000000000
ELECTRICITY_SERIAL_NO=22L3887905
GAS_MPAN=4189671708
GAS_SERIAL_NO=E6S18826742181
VOLUME_CORRECTION_FACTOR=11.63580247
SERIES_START_DATE=2022-01-16

GF_SECURITY_ADMIN_PASSWORD=piserver
GF_USERS_ALLOW_SIGN_UP=false
GF_INSTALL_PLUGINS=flant-statusmap-panel,ae3e-plotly-panel

MYSQL_ROOT_PASSWORD=piserver
MYSQL_DATABASE=mariadb
MYSQL_USER=piserver
MYSQL_PASSWORD=piserver

DB_MYSQL_HOST=mariadb
DB_MYSQL_PORT=3306
DB_MYSQL_USER=piserver
DB_MYSQL_PASSWORD=piserver
DB_MYSQL_NAME=mariadb